extends layout
block content
  script(type='text/javascript')
      window.chartacus = {
        user: !{JSON.stringify(user)}
      }
  .container-fluid
    h1 Welcome to your dashboard, {{chartacus.user.name}}
      br
      small this is a header
      hr
    ng-view


  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js')
  script(src='../scripts/app.js')
  script(src='../scripts/controllers/AppCtrl.js')