extends layout
block content
  script(type='text/javascript')
      window.chartacus = {
        user: !{JSON.stringify(user)},
        session: !{JSON.stringify(session)}
      }

  .container-fluid
    .row-fluid
      .span11
        h1 Welcome to your dashboard, #{user.email}
          br
          small #{user.key}
      .span1
        .btn-link
          a(href='/logout') Logout

    hr
    ng-view


  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js')
  script(src='../scripts/app.js')
  script(src='../scripts/controllers/AppCtrl.js')