extends layout

block content
  .header
    .row-fluid
      .span2
        img.img-rounded(src="http://placehold.it/140x140")
      .span8
        h1 Chartacus
          br
          small.tagline Painless, zero-config, real-time charting
      .span2
        #signin.btn-link.btn-large.pull-right 
          a(href='/login') Login
        #signup.btn-link.btn-large.pull-right 
          a(href='/signup') Sign Up
  .content.container
    .row-fluid
      .span4
        h2 Grab an API key
          #key
            p Copy #{uuid} to your clipboard
      .span4
        h2 Send some data
          #data
      #metrics.span4
        h2 See your metrics
          #demo
          script(src='scripts/fp.js')
  .footer
    .row-fluid
      .span3
        ul
          li
            a(href='/product/tour') Product
      .span3
        ul
          li
            a(href='/uses/') Uses
      .span3
        ul
          li
            a(href='/support/') Support
      .span3
        ul
          li
            a(href='/about/') Company