doctype 5
html(ng-app="chartacus")
  head
    title= 'Chartacus'
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='/styles/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/socket.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='http://code.highcharts.com/highcharts.js')
    script(src='/scripts/fp.js')
  body
    block content