extends layout
block content

  h1 Login
    br 
    small log in with 'foo' and 'bar'

  p #{message}
  form(method="post",action="/login")
    input(type="text",name="username",value="foo")
    input(type="password",name="password",value="bar")
    input(type="submit",value="Login")
