extends layout
block content
  .row-fluid
    .offset4.span4
      center
        h1 Sign Up
        p #{message}  
        form(method="post",action="/signup")
          input(type="text",name="username")
          br
          input(type="password",name="password")
          br
          input.btn(type="submit",value="Create")
